*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(0, 0%, 98%);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

header{
    width: 100%;
    height: 250px;  
}

.bg-img {
    width: 100%;
    height: 100%;
}

main{
    position: relative;
    bottom: 215px;
    width: 40%;
    margin: auto;
    color: hsl(235, 19%, 35%);
}

.title-app {
    margin: 35px 0;
    display: flex;
    justify-content: space-between;
}

h1{
    color: white;
    letter-spacing: 10px;
}

img {
    width: 20px;
}

form.form-todo {
    margin-bottom: 25px;
}

input:focus{
    outline: none;
}

input#item, li{
    width: 100%;
    height: 45px;
    
}
input#item{
    border-radius: 5px;
    border: 1px solid white;    
}

button {
    border: none;
    margin: 10px;
}

.img-cross {
    width: 17px;
    /*ignore l'image avec le pointeur de la souris*/
    pointer-events: none;
}
img.img-checked {
    width: 10px;
    pointer-events: none;
}

li{
   /* box-shadow: 0 8px 41px rgb(173 164 164 / 50%);*/
    background: white;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
    border-bottom: 1px solid hsl(233, 11%, 84%);
}
li:first-child {
    border-radius: 5px 5px 0 0;
  }

/* anim rayure*/
li.finDeTache span {
    text-decoration: line-through;
    color: hsl(233, 11%, 84%);
}
button.btn-check{
    outline: none;
    border-radius: 50%;
    border: solid 1px hsl(233, 11%, 84%);
    height: 20px;
    width: 20px;
    background: white;
}
.btn-check:hover{
    border: solid 1px linear-gradient(#57ddff , #c058f3) !important;
}
button.checked {
    outline: none;
    border-radius: 50%;
    background: linear-gradient(#57ddff , #c058f3);
    height: 20px;
    width: 20px;
}

.hidden-bar{
    display: none;
}

/***FOOTER***/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }